body,
html {
    font-family: 'Open Sans', sans-serif;
    background: #11242B;
    color: whitesmoke;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

th {
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}

th,
td {
    padding: 4px;
}

output {
    padding: 0px;
    margin: 0px 0px 0px 8px;
}