body,
html {
    font-family: 'Open Sans', sans-serif;
    background: #11242B;
    color: whitesmoke;
    width: 390px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:focus {
    outline: 0;
}

a:link,
a:visited {
    color: whitesmoke;
    outline: 0;
    text-decoration: none;
    margin: 0px;
}

.flex-container {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 4px 15px;
}

.flex {
    margin: 0px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    text-align: center;
}

.hover-fade:hover {
    opacity: 0.4;
}

.flex .fas,
.flex .fab {
    font-size: 28px;
    color: whitesmoke;
}

.flex p {
    font-size: 10px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: whitesmoke;
    margin: 0px;
}

.header {
    margin: 0px;
    padding: 9px 15px 6px 15px;
}

#live-status {
    font-size: 14px;
    font-weight: bolder;
    margin: 0px 0px 0px 148px;
    background-color: red;
    color: whitesmoke;
    padding: 4px 4px 4px 6px;
    border: none;
    border-radius: 15px;
    text-shadow: 1px 1px 10px #fff,
}

#options {
    font-size: 12px;
    cursor: pointer;
    padding: 2px 10px;
    position: absolute;
    bottom: 4px;
    right: 2px;
    transition: opacity 0.2s ease-in-out;
}

#live-status:active {
    transform: translateY(1px);
}

#last-seen {
    font-size: 11px;
    margin: 0px;
    text-align: left;
    transition: opacity 0.2s ease-in-out;
}

.twitter-container {
    margin: 0px;
}

.footer {
    margin: 0px 0px 5px 0px;
    height: 16px;
}

.footer .suspects-wrapper {
    font-size: 12px;
    cursor: pointer;
    padding: 2px 40px;
    position: absolute;
    bottom: 3px;
    left: 125px;
    transition: opacity 0.2s ease-in-out;
}