body,
html {
    font-family: 'Open Sans', sans-serif;
    background: #263238;
    color: #ffffff;
    width: 390px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:focus{
    outline: 0;
}

a:link,
a:visited {
    color: whitesmoke;
    outline: 0;
    text-decoration: none;
    margin: 0px;
}

.flex-container {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 4px 15px;
}

.flex {
    margin: 0px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    text-align: center;
}

.hover-fade:hover{
    opacity: 0.4;
}


.flex .fas,
.flex .fab {
    font-size: 30px;
    color: whitesmoke;
}

.flex p {
    font-size: 10px;
}

hr {
    border: none;
    height: 0.5px;
    background-color:whitesmoke; 
    margin: 0px;
}

.header{
    margin: 0px;  
    padding: 9px 15px 6px 15px;
}

#live-status{
    font-size: 14px;
    font-weight: bolder;
    margin: 0px;
    background-color: red;
    color: whitesmoke;
    padding: 3px 4px 3px 6px;
    border: none;
    border-radius: 15px;
}

#options{
    font-size: 13px;
    position: absolute;
    right: 18px;
    cursor: pointer;
    top: 7px;
    padding: 4px;
}

#live-status:active {
  transform: translateY(1px);
}

#last-seen{
    font-size: 11px;
    margin: 0px;
    text-align: left;
}

.twitter-container {
    margin: 0px;
}

.footer {
    margin: 0px 0px 5px 0px;
}

.footer a {
    font-size: 12px;
    text-align: center;
    display: block;
}
